.button_recorder{
    border-color: white;
    border-radius: 15px;
    padding: 30px 5px;
    margin-bottom: 100px;
}

/*BOTONES GRABADORA INDEX*/
.button_recorder {
    width: 400px;
    color: white;
    flex-direction: column;
    text-align: center;
    background-color: black;
    border: 3px solid white;
    border-radius: 15px;
    padding: 30px 5px;
    margin-bottom: 50px;
    margin-top: 50px;
    align-self: center;
    align-items: center;
    flex-wrap: wrap;
}

/*Edicion botones*/
#startRecordingButton, #stopRecordingButton, #playRecordingButton {
    background-color: rgb(246, 75, 75);
    width: 150px;
    height: 50px;
    display: inline-block;
    border: none;
    justify-content: center;
    align-content: center;
    box-shadow: 2px 2px 7px rgb(186, 14, 14);
    border-radius: 5px;
    margin: 3px;
}



 