.button_recorder{
    border-color: white;
    border-radius: 15px;
    padding: 30px 5px;
    margin-bottom: 100px;
}

/*BOTONES GRABADORA INDEX*/
.button_recorder {
    width: 400px;
    color: white;
    flex-direction: column;
    text-align: center;
    background-color: black;
    border: 3px solid white;
    border-radius: 15px;
    padding: 30px 5px;
    margin-bottom: 50px;
    margin-top: 50px;
    align-self: center;
    align-items: center;
    flex-wrap: wrap;
}

/*Edicion botones*/
#startRecordingButton, #stopRecordingButton, #playRecordingButton {
    background-color: rgb(246, 75, 75);
    width: 150px;
    height: 50px;
    display: inline-block;
    border: none;
    justify-content: center;
    align-content: center;
    box-shadow: 2px 2px 7px rgb(186, 14, 14);
    border-radius: 5px;
    margin: 3px;
}

  /*EDICION DE NOTICIAS RELACIONADAS*/
/*
    background-image: url(../images/color-violeta-claro-brillante-bateria-foco_693425-5754.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
*/
 
 /*AJUSTES GENERICOS*/

 /*.noticiasbody{
    background-color: rgb(34, 36, 36);
  }*/
  /******************************/

  /*article {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; 
}

.tituloseccionesNoticias {
    color: black;
}
.text-container {
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}

.fotosSecciones{
    width: 600px;

}
 /*AJUSTES INDIVIDUALES*/
 /*.fotoPrincipalNoticias {
    text-align: center;
    width:100%;
    height:100%;
 }



/*.ImagenRoboBateriaLenon {
    display: flex;
    align-items:flex-start;
    gap: 20px;
    max-width: 100%;
    border: 100px solid black;
}

/*.text-container */

/*.ImagenRoboBateriaLenon {
    flex: 1;
    display: flex;
    flex-direction: column;
}