.button_recorder{
    border-color: white;
    border-radius: 15px;
    padding: 30px 5px;
    margin-bottom: 100px;
}


#startRecordingButton {
    background-color: rgb(246, 75, 75);
    width: 150px;
    height: 50px;
    display: grid;
    border: none;
    justify-content: center;
    align-content: center;
    box-shadow: 2px 2px 7px rgb(186, 14, 14);
    border-radius: 5px;
}


#playRecordingButton{
    background-color: rgb(246, 75, 75);
    width: 150px;
    height: 50px;
    display: grid;
    border: none;
    justify-content: center;
    align-content: center;
    box-shadow: 2px 2px 7px rgb(186, 14, 14);
    border-radius: 5px;
}