@media (max-width: 600px ){
    header{
        display: none;
    }
    
    .wrapper {
        min-height: 100%;
        min-width: 100%;
    }
    .keys_chart{
        display: none;
    }
    .button_container{
        min-width: 100%;
        max-width: 100%;
    }
    
    .drumpad_btn{
        min-width: 100%;
        max-width: 100%;
    }
    .button_recorder{
        min-width: 100%;
        max-width: 100%;
    } 
    
    .button_container button{
        min-width: 100%;
        max-width: 100%;
    }
    footer{
        display:none
    }
    
}

@media(max-width:1023px){
    header{
        display: none;
    }
    footer{
        display:none
    }
}


@media(min-width: 1024px){

} 



