@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;300;400;500;900&display=swap');
/* font-family: 'MuseoModerno', sans-serif; */

* {
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'MuseoModerno', sans-serif;
    background-color: grey;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: url(../images/drumkit_wallpaper1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body p
{
    font-size: 1.8em;
}

.wrapper {
    padding-top: 70px;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .8);
    width: 80%;
    align-self: center;
}

header {
    width: 100%;
    display: flex;
    max-height: 200px;
    background-color: black;
    margin-bottom: 100px;
}

.logo_square {
    order: 1;
    height: 200px;
    width: 200px;
    background-image: url(../images/thereItsNotPlanB.png);
    background-position: center;
    background-size: cover;    
    justify-self: flex-start;
}

.contents_square {
    order: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main_title, .alt_title {
    text-shadow: 0px 0px 10px red;
    font-family: 'MuseoModerno', sans-serif;
    font-size: 6rem;
    order: 1;
    text-align: center;
    justify-self: center;
    margin-block-start: 0;
    margin-block-end: 0;
}

.alt_title {
    display: none;
}

.navbar {
    position: relative;
    top: -60px;
    width: 100%;
    height: 100px;
    order: 2;
    font-size: 1.5rem;
    justify-self: center;
    justify-items: center;
    display: grid;
}

.navbar_list_480 {
    display: none;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    background-color: black;
}

.navbar_list_item {
    text-align: center;
    text-decoration: none;
    justify-content: center;
    padding: 0 15px;
}

#navbar_list_480 {
    display: none;
}

.navbar_separator {
    border-right: 1px solid white;
}

.navbar a{
    text-decoration: none;
    color: white;
}

.navbar_list_item, li {
    list-style: none;
}

.navbar_list_item a {
    transition: color 0.2s;
}

.navbar_list_item a:hover {
    color: rgb(166, 106, 222);
}

.navbar_list_item a:active {
    color: rgb(128, 76, 177);
}

main {
    display: flex;
    justify-content: center;
}

.content_main {
    display: block;
    color: white;
    background-color: black;
    padding: 20px;
    margin: 0 30px 50px 30px;
    border: 3px solid white;
    border-radius: 20px;
}

.content_main figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
  
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
  
section > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
  
section h3 {
    width: 100%; 
}
  
section p {
    text-align: justify;
    margin: 20px;
}
  
.tableFoto {
    display: flex ;
    text-align: left;
    justify-content: space-around;
    width: 80%;
}
  
.tableFoto img {
    width: 300px;
    height: auto;
}
  
.tableFoto table {
    margin-left: 30px;
}
  
section table {
    width: fit-content;
    text-align: right;
    padding: 20px;
}

.button_container {
    color: white;
    order: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    border: 3px solid white;
    border-radius: 15px;
    padding: 30px 5px;
    margin-bottom: 100px;
}

.button_container h3 {
    font-size: 3rem;
    margin: 0;
}

.drumpad {
    display: flex;
    max-width: 530px;
    height: auto;  
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    align-content: center;
}

.drumpad_btn {
    background-color: rgb(246, 75, 75);
    width: 150px;
    height: 150px;
    display: grid;
    border: none;
    justify-content: center;
    align-content: center;
    box-shadow: 2px 2px 7px rgb(186, 14, 14);
    border-radius: 5px;
}

.keys_chart {
    color: white;
    order: 1;
    display: flex;
    font-size: 1.5em;
    padding: 20px;
    margin: 30px;
    background-color: black;
    border: 3px solid white;
    border-radius: 15px;
    height: fit-content;
    align-self: center;
}

.keys_chart ul:first-child {
    margin-left: 25px;
    margin-right: 25px;
    height: fit-content;
}

.keys_chart ul:last-child {
    text-align: center;
    height: fit-content;
    margin-right: 25px;
}

.drum_comp {
    text-shadow: none;
    background-color: rgb(246, 75, 75);
    width: 150px;
    height: 150px;
    border-radius: 5px;
    border: none;
    border-right: 1px solid black;
    margin-top: 40%;
    text-align: center;
    padding-top: 30%;
    font-size: 1.25em;
}

.plus, .less {
    font-size: 2rem;
    border: 1px solid white;
    border-radius: 50%;
    margin: 3px;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    height: 50px;
    width: 50px;
    margin-top: -40%;
    align-self: center;
}

.plus_less_button_wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.price {
    background-color: white;
}

.intro {
    text-align: center;
    margin-top: 5%;
    text-decoration: underline 2px solid black;
    text-shadow: 0px 0px 10px red;
}

h1.intro, h2, h3, h4 {
    text-align: center;
    text-shadow: 0px 0px 10px red;
}

p {
    margin: 0 30px;
    text-indent: 40px;
}

table {
    margin-left: 40%;
    margin-top: 30px;
    margin-bottom: 60px;
    border: 2px solid red;
    box-shadow: 0px 0px 10px black;
    width: 50%;
    position: relative;
    right: 15%;
}

td {
    padding: 2%;
}

h2#introducing {
    margin-top: 5%;
}

.button_recorder {
    width: 400px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    border: 3px solid white;
    border-radius: 15px;
    padding: 30px 5px;
    margin-bottom: 100px;
    align-self: center;
    align-items: center;
}

#startRecordingButton, #stopRecordingButton, #playRecordingButton {
    background-color: rgb(246, 75, 75);
    width: 150px;
    height: 50px;
    display: grid;
    border: none;
    justify-content: center;
    align-content: center;
    box-shadow: 2px 2px 7px rgb(186, 14, 14);
    border-radius: 5px;
    margin: 3px;
}

.price_tag {
    align-self: center;
    color: white;
    min-width: 200px;
    height: 200px;
    text-align: center;
    padding-top: 50px;
    background-color: #f64b4b;
    border: 3px solid white;
}

#total_priceh3, #total_price {
    text-shadow: none;
    font-family: 'MuseoModerno', sans-serif;
    text-align: center;
}

#total_price {
    position: relative;
    right: 20px;
}

ul {
    margin-top: 50px;
}

.purchase_elements_container {
    gap: 5px;
    display: flex;
    color: white;
    width: 700px;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: black;
    border: 3px solid white;
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 100px;
    justify-content: center;
}

#purchase_part_crash {
    background-image: url(../images/purchase_parts/crash.jpeg);
    background-size: cover;
}

#purchase_part_hihat {
    background-image: url(../images/purchase_parts/hihat.jpeg);
    background-size: cover;
}

#purchase_part_kick {
    background-image: url(../images/purchase_parts/kick.jpeg);
    background-size: cover;
}

#purchase_part_ride {
    background-image: url(../images/purchase_parts/ride.jpeg);
    background-size: cover;
}

#purchase_part_snare {
    background-image: url(../images/purchase_parts/snare.jpeg);
    background-size: cover;
    color: black;
}

#purchase_part_tomhigh {
    background-image: url(../images/purchase_parts/tomhigh.jpeg);
    background-size: cover;
}

#purchase_part_tomlow {
    background-image: url(../images/purchase_parts/tomlow.jpeg);
    background-size: cover;
}

#purchase_part_tommid {
    background-image: url(../images/purchase_parts/tommid.webp);
    background-size: cover;
}

footer {
    color: red;
    font-size: 1.5rem;
    height: 100px;
    background-color: black;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    justify-content: center;
}

/* Media queries my boy */

@media screen and (max-width: 480px) {
    body {
        background-image: none;
        background-color: black;
        width: 100%;
    }

    body p {
        font-size: 1em;
    }

    .content_main {
        padding: 0;
        margin: 0;
    }

    header {
        margin-bottom: 30px;
        border-bottom: 1px solid white;
    }

    .logo_square {
        width: 100px;
        height: 100px;
    }

    #navbar_list {
        display: none;
    }

    #navbar_list_480 {
        font-size: 3rem;
        margin-top: 70px;
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    .contents_square h1 {
        display: none;
    }

    .wrapper {
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: black;
    }

    main {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .button_container {
        margin-bottom: 30px;
        width: 100%;
        padding: 0;
    }

    .keys_chart {
        display: none;
    }

    .drumpad_btn {
        width: 140px;
        height: 140px;
        padding: 0;
        margin: 0;
    }

    .drumpad_btn span {
        display: none;
    }

    footer {
        font-size: 1em;
    }

    .purchase_elements_container {
        margin-bottom: 30px;
        width: 100%;
        padding: 0;
        padding-bottom: 30px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    body {
        background-image: none;
        background-color: black;
        width: 100%;
    }

    body p {
        font-size: 1em;
    }

    .content_main {
        padding: 0;
        margin: 0;
    }

    header {
        margin-bottom: 30px;
        border-bottom: 1px solid white;
    }

    .logo_square {
        width: 100px;
        height: 100px;
    }

    #navbar_list {
        display: none;
    }

    #navbar_list_480 {
        font-size: 3rem;
        margin-top: 70px;
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    .contents_square h1 {
        display: none;
    }

    .wrapper {
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: black;
    }

    main {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .button_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        width: 100%;
        padding: 0;
    }

    .keys_chart {
        display: none;
    }

    .drumpad_btn {
        width: 155px;
        height: 155px;
        padding: 0;
        margin: 0;
    }

    .drumpad_btn span {
        display: none;
    }

    footer {
        font-size: 1em;
        margin-top: 50px;
    }

    .purchase_elements_container {
        margin-bottom: 30px;
        width: 100%;
        padding: 0;
        padding-bottom: 30px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1600px) {
    .main_title {
        display: none;
    }

    .alt_title {
    display: block;
    font-size: 4em;
    margin-bottom: 15px;
    }

    .navbar_list_item {
        font-size: .8em;
    }

    footer {
        font-size: 1em;
        margin-top: 50px;
    }
}