body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
ul li{
    list-style: none;
}
h1 {
    font-size: 2em;
    color: black;
    text-align: center;
    text-shadow: 5px 5px 3px rgb(185, 185, 185);
    margin-top: -10%;
}

ul.bateria{
    display: grid;
    grid-template-areas: 
            "a a a"
            "b c c"
            "b c c";
    gap: 5px;
    height: 1vh;            
}
.button {
    background-color: rgb(246, 75, 75);
    width: 150px;
    height: 150px;
    display: grid;
    border: 3px solid rgb(246, 75, 75);
    justify-content: center;
    align-content: center;
    box-shadow: 5px 5px 10px black;
    border-radius: 5px;
}
.button_container{
    display: flex;
    width: 70%;
    margin-left: 30%;
}
.navigation_bar{
    background-color: black;
    margin-left: 400px;
    margin-right: 400px;
}
.navigation_bar ul{
    display: flex;
    flex-direction: row;
    
}
.navigation_bar li{
    width: 20%;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    
}
.navigation_bar a{
    text-decoration: none;
    color: white;
}
.banner{
    height: 50px;
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
}
div.banner img{
    border: 1px solid black;
    width: 150px;
}